@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Phudu';
 }

 main {
    padding: 16px;
 }

footer{
    padding: 24px 24px;
    background-color: olivedrab;
 }

img {
    height: 18em;
}

nav {
    border: 1px solid black;
    padding: 16px;
    color: blueviolet;
    background-color: turquoise
}

.rating{
    color: lightseagreen;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

a{
    text-decoration: None;
}

#tacotext {
    color: green;
}

.hover-link:hover {
    color: red;
    transition: .5s;
}
.image-shadow {
    box-shadow: 0px 8px 8px 0px;
    margin-block: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto 1fr;
}
